/********************/
/* base CSS Scripts */
/********************/
/* - reset          */
/* - fonts          */
/* - typography     */
/* - helpers        */
/********************/

/****************/
/* Reset styles */
/****************/
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}

/*article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}*/

/*audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

script {
    display: none !important;
}*/

/*html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}*/

/*body {
    margin: 0;
}

a {
    background: transparent;
}

    a:focus {
        outline: thin dotted;
    }

    a:active, a:hover {
        outline: 0;
    }

h1 {
    font-size: 2em;
    margin: .67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
    color: #000;
    margin: 0 30px 20px;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
    height: 0;
    display: block;
    margin: 0 !important;
    line-height: 0 !important;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

.entry-content img, .comment-content img, .widget img {
    max-width: 100%;
}

img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
    height: auto;
}

img.size-full, img.size-large, img.header-image, img.wp-post-image {
    max-width: 100%;
    height: auto;
}

embed, iframe, object, video {
    max-width: 100%;
}

img.alignleft {
    float: left;
    margin: 10px 10px 10px 0;
}

img.alignright {
    float: right;
    margin: 10px 0 10px 10px;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/
/*********/
/* Fonts */
/*********/
/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.woff2') format('woff2'), url('fonts/Lato/Lato-Regular.woff') format('woff'), url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Webfont: Lato-Italic */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Italic.woff2') format('woff2'),  url('fonts/Lato/Lato-Italic.woff') format('woff'), url('fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Webfont: Lato-Bold */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Bold.woff2') format('woff2'), url('fonts/Lato/Lato-Bold.woff') format('woff'), url('fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Webfont: Lato-BoldItalic */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-BoldItalic.woff2') format('woff2'), url('fonts/Lato/Lato-BoldItalic.woff') format('woff'), url('fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Webfont: Lato-Light */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Light.woff2') format('woff2'), url('fonts/Lato/Lato-Light.woff') format('woff'), url('fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
                              
/* Webfont: Lato-LightItalic */
@font-face {
    font-family: 'latolight_italic';
    src: url('fonts/Lato/Lato-LightItalic.woff2') format('woff2'), url('fonts/Lato/Lato-LightItalic.woff') format('woff'),url('fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Josefin';
    src: url('fonts/Josefin/josefinsans-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('fonts/Josefin/josefinsans-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('fonts/Josefin/josefinsans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/*********************/
/* typography styles */
/*********************/
/* - Headlines       */
/* - Paragraph       */
/* - Clearfix (moved to helpers) */
/* - Lists           */
/* - Links           */
/* - Template        */
/* - Sticky          */
/* - Mobile          */
/* - Off canvas menu */
/* - Opacity         */
/* - Animations      */
/* - FontAwesome     */
/* - responsive      */
/*********************/
body, html {
    height: 100%;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    display: block !important;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

    /*body.logged-in {
        padding-top: 32px;
    }*/
/**********/
/* Full Width Page content */
/**********/
body {
    height: 100%;
    width: 100%;
    position: relative;
}

    body .full-width-wrap, body .full-width-sub-wrap {
        overflow: hidden;
    }

.full-width-page {
    position: relative;
    width: 100%;
    height: 100%;
}

body .full-width-sub-wrap.single-post {
    overflow: visible;
}

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    color: #000000;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 1.15;
}

h2 {
    font-size: 28px;
    line-height: 1.15;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 16px;
}

/* Paragraph */
p {
    margin: 0 0 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #555555;
}

    p.phone-email {
        font-size: 17px;
        text-align: center;
        margin-bottom: 0;
    }

/* Lists */
ol,
ul {
    margin: 0 0 20px 40px;
    font-size: 16px;
    color: #555555;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

    ul li, ol li {
        color: #464646;
    }

/* Links */
a {
    color: #245b8c;
    font-size: 16px;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    transition: All 0.3s ease;
}

p a {
    text-decoration: none;
}

a:hover {
    color: #2d8536;
}

/* Buttons */
.button {
    padding: 15px 14px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background: #1d85f5;
    font-weight: 300;
    border: 2px solid #fff;
    font-size: 15px;
    text-decoration: none;
}

    .button:hover {
        color: #ffffff;
        background: #000000;
    }

    .button .fa {
        margin: 0 0 0 3px;
    }

.content .button {
    max-width: 200px;
}

/* Template */
.row {
    max-width: 1280px;
    position: relative;
}

.header .row {
    max-width: 100%;
}

iframe {
    border: none;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

/* Sticky */
body.logged-in .sticky-container {
    top: 32px;
}

.sticky-container {
    height: 105px;
}

    .sticky-container .sticky {
        padding: 0;
    }

.off-canvas-content {
    box-shadow: none;
    border: none;
}

.off-canvas.position-right {
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 1;
    transition: 0.5s ease;
}

.is-open-right .off-canvas.position-right {
    right: -0px;
}

.off-canvas {
    background-color: transparent;
}

.is-open-right {
    -webkit-transform: initial;
    transform: initial;
    margin-left: -250px;
}

.off-canvas-wrapper-inner {
    transition: margin 0.5s ease;
}

.sticky.is-stuck,
.sticky.is-at-top {
    left: 0px !important;
    transition: none;
    z-index: 999;
    max-width: 100% !important;
    width: 100% !important;
}

.is-open-right .sticky.is-stuck,
.is-open-right .sticky.is-at-top {
    left: -250px !important;
}

/* Mobile */
.mm-menu {
    background: #005248;
}

.mobile-bar {
    width: 100%;
    background: #9bcbc2;
}

    .mobile-bar .phone-box {
        float: left;
        padding: 17px 20px;
        color: #005248;
    }

        .mobile-bar .phone-box .fa {
            color: #005248;
            font-size: 20px;
            text-align: center;
            margin: 2px 3px 0 0;
            position: relative;
            top: 1px;
        }

    .mobile-bar .menu-icon {
        color: #ffffff;
        background: #005248;
        display: block;
        text-align: right;
        float: right;
        padding: 0 20px 0 30px;
        height: 60px;
        width: auto;
        text-transform: uppercase;
        font-size: 19px;
        line-height: 60px;
    }

        .mobile-bar .menu-icon:focus {
            outline: none;
        }

        .mobile-bar .menu-icon .fa {
            margin: 0 0 0 15px;
        }

        .mobile-bar .menu-icon:after {
            display: none;
        }

        .mobile-bar .menu-icon:after {
            top: 12px;
            width: 20px;
        }

        .mobile-bar .menu-icon:hover {
            color: #fff;
        }

            .mobile-bar .menu-icon:hover:after {
                background-color: #1d85f5;
                box-shadow: 0 7px 0 #1d85f5, 0 14px 0 #1d85f5;
            }

/* Off canvas menu */
.off-canvas-wrapper {
    background-color: #000000;
}

.off-canvas {
    background: none;
    overflow-y: initial;
}

.close-button {
    color: #ffffff !important;
    line-height: 1rem;
}

    .close-button:focus {
        outline: none;
    }

.menu-main-navigation-without-subpages-container > ul {
    padding-top: 32px;
}

.menu-main-navigation-without-subpages-container ul li a {
    color: #ffffff;
}

    .menu-main-navigation-without-subpages-container ul li a:hover {
        color: #1d85f5;
    }

.menu-main-navigation-without-subpages-container ul.sub-menu {
    margin-top: 10px;
}

    .menu-main-navigation-without-subpages-container ul.sub-menu li {
        margin-bottom: 10px;
    }

        .menu-main-navigation-without-subpages-container ul.sub-menu li a {
            padding: 0 1rem;
        }

/* Opacity */
.homepage .header, .home-slider .cb-slideshow li, .home-slider .cb-slideshow li span, .home-slider .caption-area, .home-slider .text h1,
.home-slider .text .text-main, .homepage .footer {
    opacity: 0;
}

.full-width-sub-wrap .header, .sub-full-width, .full-width-sub-wrap .footer {
    opacity: 0;
}

.single-col-main .header, .top-banner, .main, .single-col-main .footer {
    opacity: 0;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

/* Animations */
.animated {
    opacity: 1 !important;
}

a:focus {
    outline: 0;
}
/* Form Elements */
select:focus, button:focus {
    outline: 0;
}

input::-webkit-input-placeholder {
    color: #00544a;
}

input::-moz-placeholder {
    color: #00544a;
}

input:-ms-input-placeholder {
    color: #00544a;
}

input:-moz-placeholder {
    color: #00544a;
}

/***************/
/* FontAwesome */
/***************/
.content ul li:before,
.sidebar .section.pages ul li:before,
.top-bar .menu-icon span:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

/* responsive */
@media screen and (max-width: 480px) {
    body {
        min-width: 320px;
    }
}

@media screen and (max-width: 640px) {
    body {
        overflow: auto;
        height: auto;
    }
}
/************//* helpers. *//* - clearfix *//**************//* Clearfix */.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * Hide text while making it readable for screen readers * 1. Needed in WebKit-based browsers because of an implementation bug; *    See: https://code.google.com/p/chromium/issues/detail?id=457146*/.hide-text {    overflow: hidden;    padding: 0; /* 1 */    text-indent: 101%;    white-space: nowrap;}/* * Hide element while making it readable for screen readers * Shamelessly borrowed from HTML5Boilerplate: * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */.visually-hidden {    border: 0;    clip: rect(0 0 0 0);    height: 1px;    margin: -1px;    overflow: hidden;    padding: 0;    position: absolute;    width: 1px;}