<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ClientName" value="RobTest" />
    <add key="TestMode" value="False" />
    <add key="HasCsc" value="True"/>
    <add key="SQLConnection" value="server='Pan'; user id='sa'; password='s@turn0ROX'; Database='RobTest'" />
    <add key="SQLAdminConnection" value="server='Pan'; user id='sa'; password='s@turn0ROX'; Database='RobTest';" />
    <!--used for import of file names into Files table.  See /FileImport.aspx-->
    <add key="ImportDBSQLConnection" value="server='Pan'; user id='sa'; password='s@turn0ROX'; Database='RobTest'" />
    <!-- SaturnoTools settings -->
    <add key="SiteBaseURL" value="http://RobTest.pandev/" />
    <add key="SmtpServer" value="mail.saturnodesign.com" />
    <!-- Error Email Details-->
    <add key="ErrorEmail" value="rob.king@saturnodesign.com" />
    <add key="ErrorVerbose" value="1" />
    <!-- Main site (contact form) Email Details -->
    <add key="EmailFrom" value="tomato@saturnodesign.com" />

    <add key="EmailContact" value="rob.king@saturnodesign.com" />
    <add key="ResumeContact" value="rob.king@saturnodesign.com" />

    <add key="EmailFromInternal" value="internal@saturnodesign.com" />
    <add key="SubscriptionEmail" value="rob.king@saturnodesign.com" />

    <add key="WBVersion" value="CM" />
    <!-- EMC Email Details -->
    <!--<add key="EmailFromInternal" value="noreply@saturnodesign.com"/>
    <add key="UnsubscribeEmailTo" value="sean@saturnodesign.com"/>-->

    <add key="ImmigrationId" value="6876" />

  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <customErrors defaultRedirect="~/500.aspx" mode="Off">
      <error statusCode="404" redirect="~/404.aspx" />
      <error redirect="~/500.aspx" statusCode="500" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="SatLib" />
        <add namespace="RobTest" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>