/*****************************/
/*      Content Styles       */
/*****************************/
/* - Accordion               */
/* - Attorney landing        */
/* - Attorney profile        */
/* - Blog                    */
/* - Practice Areas          */
/* - Practice Details        */
/* - Contact                 */
/*****************************/
.main {
    padding-top: 55px;
    padding-bottom: 20px;
    position: relative;
    z-index: 9;
}

.main-page {
    padding-bottom: 50px;
}

.content {
    margin: 0;
}

    .content p.indent {
        margin-left: 58px;
    }

    .content .social-icons {
        font-size: 32px;
    }

    .content-block ul li:before, .content ul li:before {
        color: #245b8c;
        content: "\f105";
        padding: 0 10px 0 0;
        font-family: "FontAwesome";
    }

    /* Accordion */
    .content p.title a {
        text-decoration: none;
    }

    /* Attorney landing */
    .content .sort-list {
        margin: 0 0 20px;
    }

        .content .sort-list .sort-by {
            width: 7%;
            float: left;
            padding-top: 7px;
        }

        .content .sort-list .character {
            width: 85%;
            float: left;
            padding: 5px 0 4px;
            border-bottom: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
        }

            .content .sort-list .character ul {
                margin: 0;
                padding: 0;
            }

                .content .sort-list .character ul li {
                    margin: 0 10px 0 4px;
                    padding: 0;
                    list-style: none;
                    display: inline-block;
                }

                    .content .sort-list .character ul li:before {
                        content: "";
                        padding: 0;
                    }

                    .content .sort-list .character ul li a {
                        color: #1d85f5;
                        display: inline-block;
                        padding: 1px 6px 0;
                        text-decoration: none;
                    }

                        .content .sort-list .character ul li.current a,
                        .content .sort-list .character ul li a:hover {
                            color: #ffffff;
                            text-decoration: none;
                            background-color: #1d85f5;
                        }

                    .content .sort-list .character ul li.disabled {
                        color: #c6c6c6;
                        padding: 1px 6px 0;
                    }

            .content .sort-list .character .active {
                color: #ffffff;
                text-decoration: none;
                background-color: #1d85f5;
            }

            .content .sort-list .character ul li:last-child {
                margin: 0;
            }

        .content .sort-list .view-all {
            width: 8%;
            float: right;
        }

            .content .sort-list .view-all a {
                display: inline-block;
                background-color: #1d85f5;
                padding: 13px;
                color: #ffffff;
                font-size: 10px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
            }

                .content .sort-list .view-all a:hover {
                    background-color: #000000;
                }

    .content form .columns {
        padding-left: 0;
    }

    .content form input,
    .content form select {
        font-size: 16px;
    }

    .content input[type="submit"] {
        display: inline-block;
        background-color: #1d85f5;
        padding: 13px;
        color: #ffffff;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        border: none;
        width: 100%;
    }

        .content input[type="submit"]:hover {
            background-color: #000000;
        }

.attorney-banner-bg {
    background-image: url(images/attorneys-banner.jpg);
}

.content .single-lawyer {
    text-align: center;
}

    .content .single-lawyer .image-box a {
        display: block;
    }

    .content .single-lawyer h3 {
        margin: 24px 0 20px;
        padding: 0;
        font-size: 21px;
        color: #000000;
        display: inline-block;
    }

    .content .single-lawyer a:hover h3 {
        color: #1d85f5;
    }

    .content .single-lawyer a.button {
        margin: 0 auto;
    }

.attorneys-wrap > .columns {
    padding: 0;
}

    .attorneys-wrap > .columns:last-child:not(:first-child) {
        float: left;
    }

.single-lawyer .image-box {
    background-color: #004f45;
}

    .single-lawyer .image-box > a, .single-lawyer .image-box > a img {
        display: block;
    }

        .single-lawyer .image-box > a:hover:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(5, 25, 48, 0.67);
        }

        .single-lawyer .image-box > a, .single-lawyer .image-box > a:hover, .single-lawyer .image-box > a:focus, .single-lawyer .image-box > a:active {
            color: #fff;
        }

            .single-lawyer .image-box > a img {
                width: 100%;
            }

    .single-lawyer .image-box > a {
        position: relative;
    }

    .single-lawyer .image-box a span {
        position: absolute;
        width: 100%;
        font-weight: 600;
        text-align: center;
        left: 0;
        bottom: 0;
        background: rgba(5, 25, 48, 0.67);
        color: #fff;
        font-family: JoseFin;
        text-transform: uppercase;
        font-size: 15px;
        padding: 29px 0;
    }

.attorney-top-block .banner-content-block {
    top: 59%;
}

/* Attorney profile */
.content h1.attorney-name {
    margin-bottom: 0;
}

.content h3.attorney-title {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

/* Practice landing */
.content .practice-landing .columns:last-child {
    float: left;
}

.content .practice-landing a {
    display: block;
    text-align: center;
    padding: 20px;
}

    .content .practice-landing a:hover {
        background-color: #cccccc;
    }

    .content .practice-landing a h2 {
        text-transform: uppercase;
        font-size: 16px;
        margin: 0 0 5px;
        color: #1d85f5;
    }

    .content .practice-landing a p {
        color: #000000;
        margin: 0;
    }

    .content .practice-landing a .view {
        color: #1d85f5;
        text-transform: uppercase;
        margin-top: 5px;
    }

/* Blog */
.content .post {
    border-bottom: 1px solid #c8c8c8;
    padding: 0 0 41px;
    margin: 0 0 41px;
    margin-right: 6.6em;
}

    .content .post .post-head a h2 {
        color: #363636;
        display: inline-block;
        margin-bottom: 26px;
        font-size: 32px;
        line-height: 1.2;
    }

    .content .post .post-head a {
        color: #363636 !important;
    }

        .content .post .post-head a:hover h2 {
            color: #7abaf3 !important;
        }

.info p {
    margin-bottom: 28px;
}

.info p, .info a {
    font-size: 13px;
    text-decoration: none;
    color: #363636;
}

.info a {
    padding: 0 12px 0 0;
    margin: 0 0 0 10px;
    font-weight: 300;
}

    .info a:first-child {
        margin: 0;
    }

.entry p {
    color: #363636;
    line-height: 1.65;
}

.content .post .post-head a:hover h2 {
    color: #3c86b4;
}

.info a:hover {
    color: #7abaf3;
}

.content .post .button {
    max-width: 150px;
    margin: 0;
}

.content .post .more-links a.read-more {
    text-transform: uppercase;
    font-family: Josefin;
    font-size: 15px;
    padding: 15px 17px;
    background: #00544a;
    color: #a5e3dc;
    display: inline-block;
}

    .content .post .more-links a.read-more i {
        font-size: 15px;
        margin-left: 4px;
    }

    .content .post .more-links a.read-more:hover {
        background-color: #3c86b4;
    }

.content .post .more-links a.share {
    float: right;
    text-transform: uppercase;
}

    .content .post .more-links a.share i {
        font-size: 16px;
        margin-right: 4px;
    }

.content .post:last-child {
    margin-bottom: 33px;
}

.blog-top-block .banner-content-block {
    top: 62%;
    padding: 0 9em 0 0;
}

/* Practice Areas */
.areas-list {
    border-bottom: 1px solid #777;
    margin: 0 0 3px;
    padding-bottom: 51px;
    padding-left: 5.8em;
    padding-right: 5.8em;
}

    .areas-list li {
        float: left;
        width: 50%;
        margin-bottom: 18px;
        padding: 0 15px;
    }

.content .areas-list li:before {
    display: none;
}

.areas-list a {
    font-size: 15px;
    text-transform: uppercase;
    background: #004f46;
    display: block;
    text-align: center;
    font-family: Josefin;
    font-weight: 600;
    color: #fff;
    padding: 18px 10px;
    display: table;
    width: 100%;
    height: 100%;
}

    .areas-list a:hover {
        background-color: #3c86b4;
    }

    .areas-list a span {
        display: table-cell;
        vertical-align: middle;
    }

.pa-top-block .banner-content-block {
    top: 63%;
    padding: 0 11em 0 0;
}

/* Practice Details */
.estate-bg {
    background-image: url('images/home-slide6.jpg');
}

.estate-detail {
    text-align: left;
    width: 100%;
}

    .estate-detail h1 {
        margin-bottom: 34px;
    }

    .estate-detail .gotourlselect {
        border: 2px solid #d7badf;
        color: #d7badf;
    }

    .estate-detail .selectric-wrapper {
        width: 74%;
    }

    .estate-detail .selectric .label {
        height: 46px;
        color: #d7badf;
        background: #0e470e;
    }

@-moz-document url-prefix() {
    .estate-detail .selectric .label {
        height: 47px;
    }
}

.estate-detail .selectric .button {
    border: 2px solid #fff;
    border-left: none;
    background: #0e470e;
}

    .estate-detail .selectric .button:after {
        color: #fff;
    }

.estate-detail .selectric, .estate-detail .selectric-open .selectric {
    border: 2px solid #fff;
}

.business-planning-and-organizations-gradient .selectric .label, .business-planning-and-organizations-gradient .selectric .button {
    background-color: rgba(53,85,0, 1);
    color: #fff;
}

.business-transactions-gradient .selectric .label, .business-transactions-gradient .selectric .button {
    background-color: rgb(0,35,78);
    color: #fff;
}

.commercial-litigation-gradient .selectric .label, .commercial-litigation-gradient .selectric .button {
    background-color: rgb(150,0,4);
    color: #fff;
}

.community-association-law-gradient .selectric .label, .community-association-law-gradient .selectric .button {
    background-color: rgb(107,140,46);
    color: #fff;
}

.construction-defect-litigation-gradient .selectric .label, .construction-defect-litigation-gradient .selectric .button {
    background-color: rgb(124,44,37);
    color: #fff;
}

.criminal-defense-gradient .selectric .label, .criminal-defense-gradient .selectric .button {
    background-color: rgb(79,79,79);
    color: #fff;
}

.estate-planning-gradient .selectric .label, .estate-planning-gradient .selectric .button {
    background-color: rgb(14,71,14);
    color: #fff;
}

.land-development-gradient .selectric .label, .land-development-gradient .selectric .button {
    background-color: rgb(124,66,25);
    color: #fff;
}

.litigation-gradient .selectric .label, .litigation-gradient .selectric .button {
    background-color: rgb(138,81,29);
    color: #fff;
}

.probate-and-estate-administration-gradient .selectric .label, .probate-and-estate-administration-gradient .selectric .button {
    background-color: rgb(116,106,59);
    color: #fff;
}

.real-estate-closings-gradient .selectric .label, .real-estate-closings-gradient .selectric .button {
    background-color: rgb(0,100,142);
    color: #fff;
}

.real-estate-tax-assessment-gradient .selectric .label, .real-estate-tax-assessment-gradient .selectric .button {
    background-color: rgb(57,39,135);
    color: #fff;
}

.real-estate-transactions-gradient .selectric .label, .real-estate-transactions-gradient .selectric .button {
    background-color: rgb(71,14,88);
    color: #fff;
}

.real-property-litigation-gradient .selectric .label, .real-property-litigation-gradient .selectric .button {
    background-color: rgb(68,140,175);
    color: #fff;
}

.taxation-gradient .selectric .label, .taxation-gradient .selectric .button {
    background-color: rgb(0,130,114);
    color: #fff;
}

.zoning-and-land-use-planning-gradient .selectric .label, .zoning-and-land-use-planning-gradient .selectric .button {
    background-color: rgb(116,39,88);
    color: #fff;
}

/* Contact */
.contact-bg {
    background-image: url('images/home-slide7.jpg');
}

.quote-before {
    display: inline-block;
    width: 23px;
    height: 17px;
    background: url(images/quote-before.png) no-repeat center top;
    position: absolute;
    left: 16px;
}

.quote-after {
    display: inline-block;
    width: 24px;
    height: 17px;
    position: absolute;
    background: url('images/quote-after.png') no-repeat center bottom;
    right: -24px;
    bottom: 0;
}

.contact-left blockquote {
    padding-right: 1em;
    box-sizing: border-box;
}

    .contact-left blockquote p {
        font-family: 'latolight_italic';
    }

blockquote p {
    position: relative;
    font-family: 'latolight_italic';
}

.contact-block {
    width: 90%;
    top: 52%;
}

.contact-head {
    background: url(images/map.png) no-repeat left top;
    background-size: cover;
}

    .contact-head h2 {
        font-size: 32px;
    }

.contact-block address {
    font-style: normal;
    color: #555555;
    margin-bottom: 15px;
}

    .contact-block address span {
        display: block;
    }

.direction {
    color: #27887d;
    font-size: 14px;
    text-transform: uppercase;
}

    .direction .fa {
        margin-right: 4px;
    }

.contact-links {
    margin-bottom: 15px;
}

    .contact-links h3 {
        font-weight: 400;
        margin: 0;
    }

        .contact-links h3 a {
            font-size: 24px;
            color: #00544a;
        }

.contact-head p {
    font-size: 13px;
}

.call {
    display: block;
    font-size: 16px;
    color: #555555;
}

.contact-form label {
    font-size: 14px;
    color: #acacac;
    padding-bottom: 2px;
}

.contact-form input, .contact-form input:focus, .contact-form textarea, .contact-form textarea:focus {
    border: 1px solid #ddd;
}

.contact-form input {
    height: 40px;
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
    margin: 0 0 1rem;
}

.contact-form label .fa {
    margin-right: 4px;
}

.contact-form .button-group {
    margin-bottom: 29px;
}

.form-2-col .form-field {
    float: left;
    width: 50%;
}

    .form-2-col .form-field:first-child input {
        border-right: none;
    }

.submit-btn {
    float: right;
    font-family: Josefin;
    font-size: 15px;
    text-transform: uppercase;
    color: #a5e3dc;
    background: #005147;
    border: 2px solid #e9c5b2;
    height: 50px;
    width: 290px;
}

    .submit-btn .fa {
        color: #fff;
        margin: 0 0 0 4px;
    }

.contact-custom-bar {
    height: 400px;
}

.contact-banner h1 {
    margin: 0 0 10px;
}

.contact-banner blockquote {
    display: inline-block;
}

.contact-banner .quote-before {
    left: 0;
}


/* Pagination */
.wp-pagenavi {
    margin: 0 13px;
}

    .wp-pagenavi a, .wp-pagenavi .current {
        color: #363636;
    }

    .wp-pagenavi a, .wp-pagenavi span {
        text-decoration: none;
    }

.pagination-wrap li:before {
    display: none !important;
}

.pagination-wrap li {
    display: inline-block;
}

.wp-pagenavi .current {
    font-size: 16px;
    color: #fff;
    background-color: #136464;
    padding: 7px 11px;
    display: inline-block;
}

.wp-pagenavi a {
    padding: 7px 6px;
    display: inline-block;
}

.prev, .next {
    font-size: 16px;
    color: #363636 !important;
    padding: 7px 0 0 0;
}

.pagination-wrap > * {
    float: left;
}