/********************/
/*   Footer Styles  */
/********************/
/* - Menu           */
/* - Social         */
/* - Copyright text */
/********************/
.footer {
    color: #000000;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    z-index: 99;
}


.footer-wrap {
    position: relative;
    padding: 14px 0 0 0;
    width: 100%;
    bottom: 0;
    background: url(images/bottom-shadow.png) no-repeat center bottom;
    background-size: cover;
}

    .footer-wrap .copyright {
        padding-top: 53px;
        padding-bottom: 14px;
    }

    .footer-wrap > .row {
        position: initial;
        margin: 0;
        padding: 0;
    }

/* Menu */
.footer .menu {
    margin: 0 0 10px;
}

    .footer .menu ul {
        margin: 0;
        padding: 0;
    }

        .footer .menu ul li {
            display: inline-block;
            margin: 0;
        }

            .footer .menu ul li a {
                color: #000000;
                text-decoration: none;
                padding: 0 .5rem;
            }

            .footer .menu ul li:first-child a {
                padding-left: 0;
            }

            .footer .menu ul li a:hover {
                color: #1d85f5;
            }

            .footer .menu ul li ul {
                display: none;
            }

/* Social */
.footer .social ul {
    list-style: none;
    float: right;
    padding-top: 3px;
    margin: 0;
}

.footer .social li {
    margin: 0 0 0 15px;
    float: left;
}

    .footer .social li a {
        display: block;
        text-align: center;
        color: #627082;
    }

        .footer .social li a.facebook {
            text-align: right;
        }

        .footer .social li a:hover {
            color: #1d85f5;
        }

        .footer .social li a i {
            font-size: 15px;
        }

        .footer .social li a .hide {
            display: none;
        }

/* Copyright text */
.footer .copyright {
    position: relative;
    z-index: 9;
}

    .footer .copyright p {
        font-size: 14px;
        font-weight: 300;
        color: #cfcfcf;
        margin: 0;
        text-align: center;
    }

        .footer .copyright p a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            color: #cfcfcf;
        }

            .footer .copyright p a:hover {
                color: #7abaf3;
            }

@media screen and (max-width: 640px) {
    .footer, .footer-wrap, .footer-wrap > .row {
        position: static !important;
    }

    .footer-wrap {
        background: #3a3a3c;
        height: auto;
    }

        .footer-wrap .copyright {
            padding: 20px 0 33px 0;
        }

    .footer .copyright p, .footer .copyright p a {
        color: #fff;
    }
}
