/********************************/
/*       Header Styles          */
/********************************/
/* - Logo                       */
/* - Top right                  */
/* - Portfolio                  */
/* - Search                     */
/* - Menu                       */
/* - Slider                     */
/* - Bx Slider                  */
/* - Custom Scrollbar           */
/* - Select Box styles          */
/* - Full Width Page content (moved to typography   */
/* - Homepage slider            */
/* - Slide text colors          */
/* - Slide Button colors        */
/* Top Banner                   */
/* Full Width Sub Page content  */
/* One column Page styles       */
/* Banner
/********************************/
.header {
    padding: 17px 0;
    width: 100%;
    background: url(images/top-shadow.png) no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-col-main .header {
    height: 230px;
}

.full-width-page .header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}

/* Logo */
.header .logo {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 3.5em;
}

    .header .logo img {
        margin: 0;
        display: block;
    }

/* Top right */
.header .top-right {
    padding: 16px 0 10px;
}

/* Portfolio */
.header .portfolio-box {
    float: right;
    margin-right: 15px;
    padding: 5px 0 0;
}

    .header .portfolio-box a {
        color: #000000;
        font-size: 16px;
    }

        .header .portfolio-box a:hover {
            color: #1d85f5;
        }

/* Search */
.header .search-box {
    float: right;
    border: #000000 solid 1px;
    width: 242px;
    display: inline-block;
    margin: 0;
}

    .header .search-box fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    .header .search-box .input {
        width: 207px;
        border: none;
        color: #000000 !important;
        font-size: 13px;
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
        background: none;
        height: 33px;
        float: left;
        font-style: italic;
        margin: 0;
        box-shadow: none;
        display: inline-block;
    }

        .header .search-box .input:focus {
            box-shadow: none;
            color: #000000 !important;
        }

    .header .search-box .btn {
        width: 30px;
        float: left;
        display: block;
        margin: 7px 0 0;
        color: #000000;
        background-color: #ffffff;
        padding: 0;
    }

        .header .search-box .btn:hover {
            color: #1d85f5;
        }

/* Menu */
.header .menu {
    float: right;
}

.header .top-bar {
    padding-top: 17px;
}

.navigation-col {
    padding-right: 3em;
}

.top-bar,
.top-bar ul {
    background: none;
    font-size: 16px;
    height: auto;
    line-height: normal;
    padding: 0;
}

    .top-bar ul.right {
        float: right;
    }

.header .top-bar ul {
    list-style: none;
    margin: 0;
}

    .header .top-bar ul li {
        display: inline-block;
        background: none;
        position: relative;
        padding: 0;
    }

        .header .top-bar ul li a {
            font-size: 16px;
            color: #000000;
        }

            .header .top-bar ul li a:focus {
                outline: none;
                color: #1d85f5;
            }

            .header .top-bar ul li a:hover {
                color: #1d85f5;
            }

    .header .top-bar ul > li {
        float: left;
    }

        .header .top-bar ul > li:hover > a {
            background-color: #2f88da;
            color: #fff !important;
        }

        .header .top-bar ul > li > a {
            padding: 10px 12px 9px 12px;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            display: inline-block;
        }

        .header .top-bar ul > li.active > a {
            color: #245b8c;
        }

    .header .top-bar ul > li {
        font-family: Josefin;
    }
    /*.header .top-bar ul li.is-dropdown-submenu-parent ul {height: auto; margin: 0; padding: 0 10px 5px; background-color: #ffffff; border-top: none;}*/
    /*.header .top-bar ul li.opens-right > .is-dropdown-submenu {border-color: #000000;}*/
    /*.header .top-bar ul li.is-dropdown-submenu-parent > a {padding-right: .7rem;}*/
    /*.header .top-bar ul li.is-dropdown-submenu-parent > a:after {border: none;}*/
    /*.header .top-bar ul li.is-dropdown-submenu-parent .is-dropdown-submenu {max-width: 170px;}*/
    .header .top-bar ul li ul li {
        padding: 0;
        margin: 0;
    }

        .header .top-bar ul li ul li:last-child {
            margin-bottom: 0;
        }

        .header .top-bar ul li ul li a {
            background: none;
            font-size: 16px;
            color: #fff;
            float: none;
            padding: 5px;
            text-transform: none;
        }

            .header .top-bar ul li ul li a:hover {
                color: #fff;
                background: none;
                opacity: 0.8;
            }

        .header .top-bar ul li ul li.is-dropdown-submenu-parent > a {
            color: #1d85f5;
            background: none;
        }

.top-bar-section .menu-item-has-children {
    position: relative;
}

.top-bar-section .dropdown {
    padding: 21px 11px;
    position: absolute;
    top: auto;
    min-width: 100%;
    background-color: #2f88da;
    width: 233px;
    z-index: 9;
    display: none;
    transform: translateX(50%);
    border: none;
    right: 16%;
}

.top-bar-section .menu-item-139 .dropdown {
    left: -180% !important;
}

.top-bar-section .menu-item-141 .dropdown {
    width: 853px;
    right: 86%;
}

.top-bar-section .menu-item-has-children:hover .dropdown {
    display: block;
}

.header .top-bar-section .dropdown li {
    padding: 5px 0;
    float: none;
    display: block;
}

.top-bar-section .dropdown li a {
    font-family: 'Lato', sans-serif;
}

    .top-bar-section .dropdown li a:before {
        content: "\f105";
        font-family: 'FontAwesome';
        margin: 0 8px 0 0;
    }

.top-bar-section .dropdown div > div:last-child {
    padding-left: 32px;
}

.header .top-bar-section .dropdown > li {
    padding-top: 0;
}

.sub-full-wrap .header {
    height: auto;
    background: transparent;
}

    .sub-full-wrap .header .top-bar-section > ul {
        border-bottom: 1px solid #acacac;
        padding-bottom: 15px;
    }

        .sub-full-wrap .header .top-bar-section > ul > li > a {
            color: #080808;
        }

        .sub-full-wrap .header .top-bar-section > ul > li.active > a {
            color: #245b8c;
        }

.sub-full-wrap .top-bar-section .dropdown {
    right: 74.96%;
}

/**********/
/* Slider */
/**********/
.carousel {
    margin: 0;
    padding: 0;
    border: none;
    background: #ffffff;
    box-shadow: none;
    max-height: 100%;
    border-radius: none;
    border-radius: 0;
    position: relative;
}

    .carousel .slide {
        max-height: 562px;
    }

        .carousel .slide img {
            width: 100%;
            display: block;
        }

    .carousel .slick-list {
        overflow: hidden;
    }

    .carousel .slick-prev,
    .carousel .slick-next {
        width: 34px;
        height: 50px;
    }

        .carousel .slick-prev:before {
            content: "\f053";
        }

        .carousel .slick-next:before {
            content: "\f054";
        }

        .carousel .slick-prev:before,
        .carousel .slick-next:before {
            color: #c9fb91;
            font-size: 50px;
        }

    .carousel .slick-dots li button:before {
        color: #ffffff;
    }


/* Bx Slider */
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

    .bx-wrapper img {
        max-width: 100%;
        display: block;
    }

    .bx-wrapper .bx-viewport {
        left: 0;
        background: #fff;
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        position: absolute;
        top: 30%;
        width: 25px;
        right: 3%;
    }

    .bx-wrapper .bx-loading {
        min-height: 50px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-family: Arial;
        font-weight: bold;
        color: #666;
        padding-top: 20px;
    }

        .bx-wrapper .bx-pager .bx-pager-item,
        .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
            display: inline-block;
            *zoom: 1;
            *display: inline;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #fff;
            text-indent: -9999px;
            display: block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            outline: 0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

            .bx-wrapper .bx-pager.bx-default-pager a:hover,
            .bx-wrapper .bx-pager.bx-default-pager a.active {
                background: #666;
            }

/* Custom Scrollbar */
.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}

    .mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
        -ms-touch-action: auto;
        touch-action: auto;
    }

.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}

.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
}

.mCSB_inside > .mCSB_container {
    margin-right: 30px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-left: 30px;
}

    .mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
        margin-left: 0;
    }

.mCSB_scrollTools {
    position: absolute;
    width: 4px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.mCSB_outside + .mCSB_scrollTools {
    right: -26px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
    right: auto;
    left: 0;
}

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
    left: -26px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
    margin: 20px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #cacaca;
}

.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        position: relative;
        width: 4px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        text-align: center;
    }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    width: 12px;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width: 8px;
}

.mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonUp {
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: 0;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)";
}

.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools, .mCustomScrollBox:hover > .mCSB_scrollTools, .mCustomScrollBox:hover ~ .mCSB_scrollTools, .mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #3c86b4;
}

.mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp {
    background-image: url(mCSB_buttons.png);
    background-repeat: no-repeat;
    opacity: .4;
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_buttonUp {
    background-position: 0 0;
}

.mCSB_scrollTools .mCSB_buttonDown {
    bottom: 0;
    background-position: 0 -20px;
}

.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: 0 -40px;
}

.mCSB_scrollTools .mCSB_buttonRight {
    background-position: 0 -56px;
}

    .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover, .mCSB_scrollTools .mCSB_buttonUp:hover {
        opacity: .75;
        filter: "alpha(opacity=75)";
        -ms-filter: "alpha(opacity=75)";
    }

    .mCSB_scrollTools .mCSB_buttonDown:active, .mCSB_scrollTools .mCSB_buttonLeft:active, .mCSB_scrollTools .mCSB_buttonRight:active, .mCSB_scrollTools .mCSB_buttonUp:active {
        opacity: .9;
        filter: "alpha(opacity=90)";
        -ms-filter: "alpha(opacity=90)";
    }

/***********/
/* Select Box styles */
/***********/
.selectric .label, .selectric-disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.selectric .button, .selectric .label {
    color: #a5e3dc;
    background-color: #00544a;
    display: block;
}

.selectric .label, .selectric-items li {
    text-transform: uppercase;
    font-size: 15px;
}

.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    width: 100%;
}

.selectric {
    border: none;
}

    .selectric .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 48px;
        padding: 18px 60px 10px 20px;
        font-family: Josefin;
        user-select: none;
    }

    .selectric .button, .selectric .button:after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
    }

    .selectric .button {
        width: 48px;
        text-align: center;
        text-indent: -9999px;
        padding: 0;
        margin: 0;
    }

        .selectric .button:after {
            content: "\f0dc";
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            font-family: FontAwesome;
            text-indent: initial;
            padding: 19px 0 0;
        }

.selectric-open {
    z-index: 9999;
}

    .selectric-open .selectric {
        border-color: #000;
    }

    .selectric-open .selectric-items {
        display: block;
    }

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}

    .selectric-hide-select select {
        position: absolute;
        left: -100%;
        display: none;
    }

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: 0 !important;
    border: none !important;
    background: 0 0 !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 2px solid #00544a;
    border-top: none;
    z-index: -1;
}

    .selectric-items ul li:before {
        display: none !important;
    }

    .selectric-items .selectric-scroll {
        height: 100%;
        overflow: auto;
    }

.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}

.selectric-items li, .selectric-items ul {
    list-style: none;
    padding: 0;
    margin: 0 !important;
}

.selectric-items li {
    display: block;
    color: #000;
    cursor: pointer;
    padding: 7px 10px 7px;
    border-top: 2px solid #00544a;
    font-family: Josefin;
    letter-spacing: 0;
}

    .selectric-items li:hover {
        background: #00544a;
        color: #a5e3dc;
    }

.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default !important;
    background: 0 0 !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Homepage slider */
.slide-wrap, .caption-area {
    height: 100%;
}

.slide-wrap {
    position: relative;
}

.picture-area {
    height: 100%;
    padding: 0;
}

.caption-area {
    position: relative;
    padding: 0;
}

    .caption-area:before {
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        right: -12em;
        display: block;
        transform: skewX(20deg);
        position: absolute;
    }

.home-slider .button {
    min-height: 50px;
}

.slide-blue {
    background: rgba(63, 134, 200, 0.73);
}

.slide-green {
    background: rgba(91, 122, 21, 0.68);
}

.slide-red {
    background: rgba(192, 22, 27, 0.72);
}

.slide-purple {
    background: rgba(109, 62, 124, 0.79);
}

.slide-light-purple {
    background: linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
    background: -moz-linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
    background: -o-linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
    background: -webkit-linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
}

.slide-dark-green {
    background: linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    background: -moz-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    background: -o-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    background: -webkit-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
}

.slide-bottle-green {
    background: rgba(51, 155, 142, 0.76);
}

/* Slide colors */
.slide-blue .caption-area:before {
    border-color: rgba(63, 134, 200, 0.73) rgba(63, 134, 200, 0.73) rgba(63, 134, 200, 0.73) transparent;
    background: rgba(63, 134, 200, 0.73);
}

.slide-green .caption-area:before {
    border-color: rgba(91, 122, 21, 0.68) rgba(91, 122, 21, 0.68) rgba(91, 122, 21, 0.68) transparent;
    background: rgba(91, 122, 21, 0.68);
}

.slide-red .caption-area:before {
    border-color: rgba(192, 22, 27, 0.72) rgba(192, 22, 27, 0.72) rgba(192, 22, 27, 0.72) transparent;
    background: rgba(192, 22, 27, 0.72);
}

.slide-purple .caption-area:before {
    border-color: rgba(109, 62, 124, 0.79) rgba(109, 62, 124, 0.79) rgba(109, 62, 124, 0.79) transparent;
    background: rgba(109, 62, 124, 0.79);
}

.slide-light-purple .caption-area:before {
    border-color: rgba(144, 82, 121, 0.56) rgba(144, 82, 121, 0.56) rgba(144, 82, 121, 0.56) transparent;
    background: linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
    background: -moz-linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
    background: -o-linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
    background: -webkit-linear-gradient(rgba(76, 43, 64, 0.98),rgba(79, 77, 78, 0.2));
}

.slide-dark-green .caption-area:before {
    border-color: rgba(32, 84, 32, 0.74) rgba(32, 84, 32, 0.74) rgba(32, 84, 32, 0.74) transparent;
    background: linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    background: -moz-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    background: -o-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    background: -webkit-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
}

.slide-bottle-green .caption-area:before {
    border-color: rgba(51, 155, 142, 0.76) rgba(51, 155, 142, 0.76) rgba(51, 155, 142, 0.76) transparent;
    background: rgba(51, 155, 142, 0.76);
}
/* Slide text colors */
.slide-blue .text h1 small {
    color: #9cceff;
}

.slide-green .text h1 small {
    color: #c1e870;
}

.slide-red .text h1 small {
    color: #750003;
}

.slide-purple .text h1 small {
    color: #470e58;
}

.slide-light-purple .text h1 small {
    color: #6e2956;
}

.slide-dark-green .text h1 small {
    color: #0d3908;
}

.slide-bottle-green .text h1 small {
    color: #00544a;
}
/* Slide Button colors */
.slide-blue .button {
    background-color: #9cceff;
}

.slide-green .button {
    background-color: #3f5d00;
}

.slide-red .button {
    background-color: #750003;
}

.slide-purple .button {
    background-color: #470e58;
}

.slide-light-purple .button {
    background-color: #6e2956;
}

.slide-dark-green .button {
    background-color: #0d3908;
}

.slide-bottle-green .button {
    background-color: #00544a;
}

.slide-wrap .button:hover {
    opacity: 0.8;
}

.caption-area > div {
    width: 97%;
    padding: 0 7em 0 0;
    z-index: 4;
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
    text-align: right;
    color: #fff;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text h1 {
    font-family: JoseFin;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 1;
    margin-bottom: 38px;
}

.text h1, .text p {
    color: #fff;
}

    .text h1 small {
        font-size: 56px;
    }

.text-main p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    margin-bottom: 0;
}

.button-wrap {
    padding-top: 39px;
}

.cb-slideshow {
    margin: 0;
    padding: 0;
    z-index: 0;
}

    .cb-slideshow li {
        width: 100% !important;
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

        .cb-slideshow li span {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            color: transparent;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 1;
            z-index: 0;
            -webkit-backface-visibility: hidden;
        }

        .cb-slideshow li:nth-child(1) span {
            background-image: url('images/home-slide1.jpg');
        }

        .cb-slideshow li:nth-child(2) span {
            background-image: url('images/home-slide2.jpg');
        }

        .cb-slideshow li:nth-child(3) span {
            background-image: url('images/home-slide3.jpg');
        }

        .cb-slideshow li:nth-child(4) span {
            background-image: url('images/home-slide4.jpg');
        }

        .cb-slideshow li:nth-child(5) span {
            background-image: url('images/home-slide5.jpg');
        }

        .cb-slideshow li:nth-child(6) span {
            background-image: url('images/home-slide6.jpg');
        }

        .cb-slideshow li:nth-child(7) span {
            background-image: url('images/home-slide7.jpg');
        }

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0.5;
        -webkit-animation-timing-function: ease-in;
    }

    16% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: scale(2.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0.5;
        -moz-animation-timing-function: ease-in;
    }

    16% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -moz-transform: scale(2.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0.5;
        -o-animation-timing-function: ease-in;
    }

    16% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -o-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -o-transform: scale(2.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0.5;
        -ms-animation-timing-function: ease-in;
    }

    16% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -ms-transform: scale(2.1);
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0.5;
        animation-timing-function: ease-in;
    }

    16% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        transform: scale(2.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes downAnimation {
    0% {
        opacity: 0.5;
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: translate3d(0,-1200px,0);
        transform: -webkit-translate3d(0,-1200px,0);
    }

    3% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translate3d(0,0,0);
        transform: -webkit-translate3d(0,0,0);
    }

    13% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-moz-keyframes downAnimation {
    0% {
        opacity: 0.5;
        -moz-animation-timing-function: ease-in;
        -moz-transform: translate3d(0,-100%,0);
        transform: -moz-translate3d(0,-100%,0);
    }

    3% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
        -moz-transform: translate3d(0,0,0);
        transform: -moz-translate3d(0,0,0);
    }

    13% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -moz-transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-o-keyframes downAnimation {
    0% {
        opacity: 0.5;
        -o-animation-timing-function: ease-in;
        -o-transform: translate3d(0,-100%,0);
        transform: -o-translate3d(0,-100%,0);
    }

    3% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    13% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }

    34% {
        opacity: 1;
        -o-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -o-transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
    }
}

@-ms-keyframes downAnimation {
    0% {
        opacity: 0.5;
        -ms-animation-timing-function: ease-in;
        -ms-transform: translate3d(0,-100%,0);
        transform: -ms-translate3d(0,-100%,0);
    }

    3% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
        -ms-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }

    13% {
        opacity: 1;
        -ms-animation-timing-function: ease-in;
    }

    30% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }

    40% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        -ms-transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes downAnimation {
    0% {
        opacity: 0.5;
        animation-timing-function: ease-in;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    3% {
        opacity: 1;
        animation-timing-function: ease-out;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    13% {
        opacity: 1;
        animation-timing-function: ease-in;
    }

    30% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    40% {
        opacity: 1;
        transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
    }
}

.imageanimate {
    animation: imageAnimation 22s linear infinite 0s;
}

.downanimate {
    animation: downAnimation 18s linear infinite 0s !important;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        .downanimate {
            animation: downAnimation 22s linear infinite 0s !important;
        }
    }
}

@keyframes downanimateIe {
    0% {
        opacity: 0.5;
        animation-timing-function: ease-in;
        -webkit-transform: translate3d(0,-1200px,0);
        transform: translate3d(0,-1200px,0);
    }

    6% {
        opacity: 1;
        animation-timing-function: ease-out;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    13% {
        opacity: 1;
        animation-timing-function: ease-in;
    }

    30% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    40% {
        opacity: 1;
        transform: scale(1.1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
    }
}

_:-ms-lang(x), .downanimate {
    animation: downanimateIe 22s linear infinite 0s !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cb-slideshow li {
        -webkit-animation-name: initial !important;
        animation-name: initial !important;
    }
}

.home-slider .text h1 {
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.home-slider .text .text-main {
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.caption-animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s !important;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.caption-h1-animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s !important;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.caption-text-main-animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s !important;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slider-outer {
    position: relative;
    width: 100%;
    height: 100%;
}

    .slider-outer .bx-wrapper {
        height: 100%;
    }

.home-slider {
    width: 100%;
    height: 100%;
}

/**********/
/* Top Banner */
/**********/
.top-banner {
    position: relative;
    height: 381px;
}

.top-banner-bg {
    width: 100%;
    height: 381px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
}

.about-banner-bg {
    background-image: url(images/home-slide1.jpg);
}

.banner-content {
    height: 100%;
    position: relative;
}

    .banner-content:before {
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        display: block;
        border-style: solid;
        border-width: 381px 0 0 100px;
    }

.banner-content-block {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    right: 0;
    padding: 0 0 0 8em;
}

    .banner-content-block h1 {
        color: #fff;
        text-transform: uppercase;
    }

.sub-blue-slide:before {
    border-color: rgba(63, 134, 200, 0.73) rgba(63, 134, 200, 0.73) rgba(63, 134, 200, 0.73) transparent;
}

.sub-bio-slide:before {
    border-color: rgba(0, 0, 0, 0.51) rgba(0, 0, 0, 0.51) rgba(0, 0, 0, 0.51) transparent;
}

.sub-dark-green-slide:before {
    border-color: rgba(41, 125, 115, 0.71) rgba(41, 125, 115, 0.71) rgba(41, 125, 115, 0.71) transparent;
}

.sub-green-slide:before {
    border-color: rgba(91, 122, 21, 0.68) rgba(91, 122, 21, 0.68) rgba(91, 122, 21, 0.68) transparent;
}


/**********/
/* Full Width Sub Page content */
/**********/
.sub-full-width {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.sub-page-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-content {
    position: relative;
    height: 100%;
}

    .sub-content:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .sub-content.blue-gradient:before {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.33), rgba(56, 135, 208, 0.88));
        background: -o-linear-gradient(rgba(0, 0, 0, 0.33), rgba(56, 135, 208, 0.88));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.33), rgba(56, 135, 208, 0.88));
        background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(56, 135, 208, 0.88));
    }

    .sub-content.black-gradient:before {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0,0,0,0.31));
        background: -o-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0,0,0,0.31));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0,0,0,0.31));
        background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0,0,0,0.31));
    }

    .sub-content.green-gradient:before {
        background: -webkit-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
        background: -o-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
        background: -moz-linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
        background: linear-gradient(rgba(19, 71, 19, 0.95),rgba(0, 0, 0, 0.46));
    }

    .sub-content.light-green-gradient:before {
        background: -webkit-linear-gradient(rgba(15, 79, 71, 1), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(15, 79, 71, 1), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(15, 79, 71, 1), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(15, 79, 71, 1), rgba(0, 0, 0, 0.33));
    }

    .sub-content.business-planning-and-organizations-gradient:before {
        background: -webkit-linear-gradient(rgba(53,85,0, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(53,85,0, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(53,85,0, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(53,85,0, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.business-transactions-gradient:before {
        background: -webkit-linear-gradient(rgba(0,35,78, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(0,35,78, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(0,35,78, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(0,35,78, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.commercial-litigation-gradient:before {
        background: -webkit-linear-gradient(rgba(150,0,4, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(150,0,4, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(150,0,4, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(150,0,4, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.community-association-law-gradient:before {
        background: -webkit-linear-gradient(rgba(107,140,46, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(107,140,46, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(107,140,46, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(107,140,46, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.construction-defect-litigation-gradient:before {
        background: -webkit-linear-gradient(rgba(124,44,37, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(124,44,37, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(124,44,37, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(124,44,37, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.criminal-defense-gradient:before {
        background: -webkit-linear-gradient(rgba(79,79,79, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(79,79,79, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(79,79,79, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(79,79,79, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.estate-planning-gradient:before {
        background: -webkit-linear-gradient(rgba(14,71,14, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(14,71,14, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(14,71,14, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(14,71,14, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.land-development-gradient:before {
        background: -webkit-linear-gradient(rgba(124,66,25, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(124,66,25, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(124,66,25, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(124,66,25, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.litigation-gradient:before {
        background: -webkit-linear-gradient(rgba(138,81,29, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(138,81,29, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(138,81,29, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(138,81,29, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.probate-and-estate-administration-gradient:before {
        background: -webkit-linear-gradient(rgba(116,106,59, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(116,106,59, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(116,106,59, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(116,106,59, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.real-estate-closings-gradient:before {
        background: -webkit-linear-gradient(rgba(0,100,142, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(0,100,142, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(0,100,142, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(0,100,142, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.real-estate-tax-assessment-gradient:before {
        background: -webkit-linear-gradient(rgba(57,39,135, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(57,39,135, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(57,39,135, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(57,39,135, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.real-estate-transactions-gradient:before {
        background: -webkit-linear-gradient(rgba(71,14,88, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(71,14,88, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(71,14,88, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(71,14,88, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.real-property-litigation-gradient:before {
        background: -webkit-linear-gradient(rgba(68,140,175, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(68,140,175, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(68,140,175, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(68,140,175, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.taxation-gradient:before {
        background: -webkit-linear-gradient(rgba(0,130,114, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(0,130,114, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(0,130,114, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(0,130,114, 0.88), rgba(0, 0, 0, 0.33));
    }

    .sub-content.zoning-and-land-use-planning-gradient:before {
        background: -webkit-linear-gradient(rgba(116,39,88, 0.88), rgba(0, 0, 0, 0.33));
        background: -o-linear-gradient(rgba(116,39,88, 0.88), rgba(0, 0, 0, 0.33));
        background: -moz-linear-gradient(rgba(116,39,88, 0.88), rgba(0, 0, 0, 0.33));
        background: linear-gradient(rgba(116,39,88, 0.88), rgba(0, 0, 0, 0.33));
    }

.mobile-space div select {
    color: #fff;
    border: 2px solid #fff;
}

.mobile-space .business-planning-and-organizations-gradient div select {
    background-color: #355500;
}

.mobile-space .business-transactions-gradient div select {
    background-color: #00234e;
}

.mobile-space .commercial-litigation-gradient div select {
    background-color: #960004;
}

.mobile-space .community-association-law-gradient div select {
    background-color: #6b8c2e;
}

.mobile-space .construction-defect-litigation-gradient div select {
    background-color: #7c2c25;
}

.mobile-space .criminal-defense-gradient div select {
    background-color: #4f4f4f;
}

.mobile-space .estate-planning-gradient div select {
    background-color: #0e470e;
}

.mobile-space .land-development-gradient div select {
    background-color: #7c4219;
}

.mobile-space .litigation-gradient div select {
    background-color: #8a511d;
}

.mobile-space .probate-and-estate-administration-gradient div select {
    background-color: #746a3b;
}

.mobile-space .real-estate-closings-gradient div select {
    background-color: #00648e;
}

.mobile-space .real-estate-tax-assessment-gradient div select {
    background-color: #392787;
}

.mobile-space .real-estate-transactions-gradient div select {
    background-color: #470e58;
}

.mobile-space .real-property-litigation-gradient div select {
    background-color: #448caf;
}

.mobile-space .taxation-gradient div select {
    background-color: #008272;
}

.mobile-space .zoning-and-land-use-planning-gradient div select {
    background-color: #742758;
}


.sub-picture {
    height: 100%;
    position: relative;
}

.area-detail {
    text-align: right;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-area {
    position: relative;
    height: 100%;
}

    .content-area:before {
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        right: -10.1em;
        display: block;
        position: absolute;
        background: #fff;
        transform: skewX(15deg);
    }

    .content-area:before {
        border-color: #fff #fff #fff transparent;
    }

.content-detail {
    position: absolute;
    top: 50%;
    padding: 2em 3.1em 0 20em;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about-bg {
    background-image: url('images/about-bg.jpg');
}

.bio-bg {
    background-image: url('images/bio-bg.png');
}

.area-detail {
    padding: 0 0 0 3.5em;
}

    .area-detail h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 56px;
        margin-bottom: 40px;
    }

.links {
    margin: 0;
}

    .links li {
        margin-bottom: 18px;
    }

        .links li a {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
        }

            .links li a:hover {
                color: #7abaf3;
            }

            .links li a:after {
                content: "\f105";
                font-family: 'FontAwesome';
                margin: 0 0 0 8px;
                font-weight: 300;
            }

.content-block.custom-bar {
    overflow: auto;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-block h1 {
    margin-bottom: 26px;
}

.content-block p {
    font-weight: 400;
    line-height: 1.7;
}

.content-head h1 {
    font-family: Josefin;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 1.1;
}

.content-head.blue h1 {
    color: #3c86b4;
}

.content-head h1 span {
    font-size: 24px;
    display: block;
}


/***********/
/* One column Page styles */
/***********/
.single-col-main .header {
    position: absolute;
    z-index: 99;
}

.single-col-main .logo {
    padding-left: 70px;
}

.single-col-main .header .top-bar ul > li.active > a {
    color: #fff;
}

.top-banner h1 {
    font-size: 56px;
    margin: 0 0 27px;
    font-family: Josefin;
}

.single-col-main .footer-wrap {
    height: auto;
    padding-top: 164px;
    padding-bottom: 14px;
}

.single-col-main .banner-content-block {
    text-align: right;
    padding: 0 7em 0 0;
}

.single-page-head {
    text-align: center;
    padding: 0 0 33px 0;
}

    .single-page-head p {
        font-weight: 700;
    }

.single-col-main .footer {
    margin-top: -118px;
}


/**********/
/* Banner */
/**********/
.banner {
    position: relative;
}

    .banner img {
        position: relative;
        z-index: 10;
        width: 100%;
    }