/**********************/
/*    nav styles      */
/**********************/
nav {
    background-color: transparent;

    padding-top: 17px;

}

nav, nav ul {
    background: none;
    font-size: 16px;
    height: auto;
    line-height: normal;
    padding: 0;
}

nav ul li {
    font-family: Josefin;
    display: inline-block;
    background: none;
    position: relative;
}

nav .brand-logo {
    width: 25%;
    height: auto;
}

    nav .brand-logo img {
        max-width: 100%;
    }

.side-nav {
    background: #005248;
}

    .side-nav .side-nav-title {
        text-align: center;
    }

    .side-nav .side-nav-title, .side-nav ul li a {
        color: #ffffff;
        font-size: 16px;
    }

