/******************************************************//* This file contains all application-wide variables. */ /******************************************************/.brand-color {
    background-color: #9bcbc2;
}

.brand-secondary-color {
    background-color: #005248;
}

.brand-secondary-text-color {
    background-color: #9bcbc2;
}

.brand-text-color {
    background-color: #005248;
}

