/* Buttons */
.button {
    padding: 15px 14px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background: #1d85f5;
    font-weight: 300;
    border: 2px solid #fff;
    font-size: 15px;
    text-decoration: none;
}
    .button:hover {
        color: #ffffff;
        background: #000000;
    }

    .button .fa {
        margin: 0 0 0 3px;
    }

.content .button {
    max-width: 200px;
}

