/***********/
/* Select Box styles */
/***********/
.selectric .label, .selectric-disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.selectric .button, .selectric .label {
    color: #a5e3dc;
    background-color: #00544a;
    display: block;
}

.selectric .label, .selectric-items li {
    text-transform: uppercase;
    font-size: 15px;
}

.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    width: 100%;
}

.selectric {
    border: none;
}

    .selectric .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 48px;
        padding: 18px 60px 10px 20px;
        font-family: Josefin;
        user-select: none;
    }

    .selectric .button, .selectric .button:after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
    }

    .selectric .button {
        width: 48px;
        text-align: center;
        text-indent: -9999px;
        padding: 0;
        margin: 0;
    }

        .selectric .button:after {
            content: "\f0dc";
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            font-family: FontAwesome;
            text-indent: initial;
            padding: 19px 0 0;
        }

.selectric-open {
    z-index: 9999;
}

    .selectric-open .selectric {
        border-color: #000;
    }

    .selectric-open .selectric-items {
        display: block;
    }

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}

    .selectric-hide-select select {
        position: absolute;
        left: -100%;
        display: none;
    }

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: 0 !important;
    border: none !important;
    background: 0 0 !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 2px solid #00544a;
    border-top: none;
    z-index: -1;
}

    .selectric-items ul li:before {
        display: none !important;
    }

    .selectric-items .selectric-scroll {
        height: 100%;
        overflow: auto;
    }

.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}

.selectric-items li, .selectric-items ul {
    list-style: none;
    padding: 0;
    margin: 0 !important;
}

.selectric-items li {
    display: block;
    color: #000;
    cursor: pointer;
    padding: 7px 10px 7px;
    border-top: 2px solid #00544a;
    font-family: Josefin;
    letter-spacing: 0;
}

    .selectric-items li:hover {
        background: #00544a;
        color: #a5e3dc;
    }

.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default !important;
    background: 0 0 !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

