/* areas styles */

/* Practice Areas */
.areas-list {
    border-bottom: 1px solid #777;
    margin: 0 0 3px;
    padding-bottom: 51px;
    padding-left: 5.8em;
    padding-right: 5.8em;
}

    .areas-list li {
        float: left;
        width: 50%;
        margin-bottom: 18px;
        padding: 0 15px;
    }

.content .areas-list li:before {
    display: none;
}

.areas-list a {
    font-size: 15px;
    text-transform: uppercase;
    background: #004f46;
    display: block;
    text-align: center;
    font-family: Josefin;
    font-weight: 600;
    color: #fff;
    padding: 18px 10px;
    display: table;
    width: 100%;
    height: 100%;
}

    .areas-list a:hover {
        background-color: #3c86b4;
    }

    .areas-list a span {
        display: table-cell;
        vertical-align: middle;
    }

.pa-top-block .banner-content-block {
    top: 63%;
    padding: 0 11em 0 0;
}

/* Practice Details */
.estate-bg {
    background-image: url('images/home-slide6.jpg');
}

.estate-detail {
    text-align: left;
    width: 100%;
}

    .estate-detail h1 {
        margin-bottom: 34px;
    }

    .estate-detail .gotourlselect {
        border: 2px solid #d7badf;
        color: #d7badf;
    }

    .estate-detail .selectric-wrapper {
        width: 74%;
    }

    .estate-detail .selectric .label {
        height: 46px;
        color: #d7badf;
        background: #0e470e;
    }

@-moz-document url-prefix() {
    .estate-detail .selectric .label {
        height: 47px;
    }
}

.estate-detail .selectric .button {
    border: 2px solid #fff;
    border-left: none;
    background: #0e470e;
}

    .estate-detail .selectric .button:after {
        color: #fff;
    }

.estate-detail .selectric, .estate-detail .selectric-open .selectric {
    border: 2px solid #fff;
}

.business-planning-and-organizations-gradient .selectric .label, .business-planning-and-organizations-gradient .selectric .button {
    background-color: rgba(53,85,0, 1);
    color: #fff;
}

.business-transactions-gradient .selectric .label, .business-transactions-gradient .selectric .button {
    background-color: rgb(0,35,78);
    color: #fff;
}

.commercial-litigation-gradient .selectric .label, .commercial-litigation-gradient .selectric .button {
    background-color: rgb(150,0,4);
    color: #fff;
}

.community-association-law-gradient .selectric .label, .community-association-law-gradient .selectric .button {
    background-color: rgb(107,140,46);
    color: #fff;
}

.construction-defect-litigation-gradient .selectric .label, .construction-defect-litigation-gradient .selectric .button {
    background-color: rgb(124,44,37);
    color: #fff;
}

.criminal-defense-gradient .selectric .label, .criminal-defense-gradient .selectric .button {
    background-color: rgb(79,79,79);
    color: #fff;
}

.estate-planning-gradient .selectric .label, .estate-planning-gradient .selectric .button {
    background-color: rgb(14,71,14);
    color: #fff;
}

.land-development-gradient .selectric .label, .land-development-gradient .selectric .button {
    background-color: rgb(124,66,25);
    color: #fff;
}

.litigation-gradient .selectric .label, .litigation-gradient .selectric .button {
    background-color: rgb(138,81,29);
    color: #fff;
}

.probate-and-estate-administration-gradient .selectric .label, .probate-and-estate-administration-gradient .selectric .button {
    background-color: rgb(116,106,59);
    color: #fff;
}

.real-estate-closings-gradient .selectric .label, .real-estate-closings-gradient .selectric .button {
    background-color: rgb(0,100,142);
    color: #fff;
}

.real-estate-tax-assessment-gradient .selectric .label, .real-estate-tax-assessment-gradient .selectric .button {
    background-color: rgb(57,39,135);
    color: #fff;
}

.real-estate-transactions-gradient .selectric .label, .real-estate-transactions-gradient .selectric .button {
    background-color: rgb(71,14,88);
    color: #fff;
}

.real-property-litigation-gradient .selectric .label, .real-property-litigation-gradient .selectric .button {
    background-color: rgb(68,140,175);
    color: #fff;
}

.taxation-gradient .selectric .label, .taxation-gradient .selectric .button {
    background-color: rgb(0,130,114);
    color: #fff;
}

.zoning-and-land-use-planning-gradient .selectric .label, .zoning-and-land-use-planning-gradient .selectric .button {
    background-color: rgb(116,39,88);
    color: #fff;
}
