/*****************/
/*  home styles  */
/*****************/
.slider {
    /*overflow: auto;*/
    position: relative;
}

    .slider .slides {
        overflow: auto;
        margin: 0;
        padding: 0;
        z-index: 0;
        background-color: #ffffff;
    }

        .slider .slides li {
            height: 100%;
            padding-bottom: 20px;
            overflow-y: scroll;
            z-index: 50;
            background-image: none;
            opacity:0;
            -webkit-transform:scale(1.2, 1.2);
            -moz-transform:scale(1.2, 1.2);
            -ms-transform:scale(1.2, 1.2);
            -o-transform:scale(1.2, 1.2);
            transform:scale(1.2, 1.2)}

            .slider .slides li img {
                height: 300px;
                position: absolute;
                top: 200px;
            }

            .slider .slides li .caption-area .caption {
                width: 90%;
                height: auto;
                font-family: "Josefin";
                top: 512px;
                left: 25px;
                padding: 0 25px 50px 25px;
                text-align: right;
            }

                .slider .slides li .caption-area .caption .text-headline,
                .slider .slides li .caption-area .caption .text-headline small {
                    text-transform: uppercase;
                    font-size: 26px;
                    font-weight: 300;
                    line-height: 26px;
                }

                .slider .slides li .caption-area .caption p {
                    color: #ffffff;
                    text-align: right;
                    font-size: 16px;
                }

                .slider .slides li .caption-area .caption .text-body br {
                    display: none;
                }

                .slider .slides li .caption-area .caption .button-wrap {
                    padding-top: 25px;
                }

                    .slider .slides li .caption-area .caption .button-wrap .btn {
                        display: inline-block;
                        padding: 15px 14px;
                        border: 2px solid #fff;
                        border-radius: 2px;
                        font-size: 10px;
                        line-height: 10px;
                        min-height: 50px;
                        vertical-align: middle;
                    }

                        .slider .slides li .caption-area .caption .button-wrap .btn i {
                            font-size: 10px;
                        }




    /* slide indicators */
    .slider .indicators {
        display: none;
    }

    .slider ul.home-slide-indicators.indicators {
        position: absolute;
        left: 92%;
        top: 360px;
        padding-top: 20px;
        height: 181px;
        width: 25px;
        z-index: 100;
    }

        .slider ul.home-slide-indicators.indicators .indicator-item {
            cursor: pointer;
            height: 10px;
            line-height: 20.4px;
            width: 10px;
            margin: 0 5px;
            background-color: #e0e0e0;
            transition: background-color .3s;
            border-radius: 50%;
        }

            .slider ul.home-slide-indicators.indicators .indicator-item.active {
                background-color: #666666;
            }

@media screen and (min-width: 601px) {
    .slider .slides li:nth-child(1) {
        background: url('../../img/home-slide1.jpg') no-repeat;
        background-size: cover;
    }

        .slider .slides li:nth-child(1) div {
            transform: translateY(0px) translateX(0px);
        }

    .slider .slides li:nth-child(2) {
        background: url('../../img/home-slide2.jpg') no-repeat;
        background-size: cover;
    }

        .slider .slides li:nth-child(2) div {
            transform: translateY(-100px) translateX(0px);
        }

    .slider .slides li:nth-child(3) {
        background: url('../../img/home-slide3.jpg') no-repeat;
        background-size: cover;
    }

        .slider .slides li:nth-child(3) div {
            transform: translateX(-100px) translateY(0px);
        }

    .slider .slides li:nth-child(4) {
        background: url('../../img/home-slide4.jpg') no-repeat;
        background-size: cover;
    }

    .slider .slides li:nth-child(4 div) {
        transform: translateX(100px) translateY(0px);
        ;
    }

    .slider .slides li:nth-child(5) {
        background: url('../../img/home-slide5.jpg') no-repeat;
        background-size: cover;
    }

        .slider .slides li:nth-child(5) div {
            transform: translateY(0px) translateX(0px);
        }

    .slider .slides li:nth-child(6) {
        background: url('../../img/home-slide6.jpg') no-repeat;
        background-size: cover;
    }

        .slider .slides li:nth-child(6) div {
            transform: translateY(0px) translateX(0px);
        }

    .slider .slides li:nth-child(7) {
        background: url('../../img/home-slide7.jpg') no-repeat;
        background-size: cover;
    }

        .slider .slides li:nth-child(7) div {
            transform: translateY(0px) translateX(0px);
        }

    .slider .slides li .caption-area .caption .text-headline,
    .slider .slides li .caption-area .caption .text-headline small {
        font-size: 36px;
    }

    .slider .slides li .caption-area .caption p {
        font-size: 18px;
    }

    .slider .slides li .caption-area .caption .text-body br {
        display: block;
    }

    .slider .slides li img {
        height: 100%;
        top: 0;
        transition: all 0.3s ease-out;
    }

    .slider ul.home-slide-indicators.indicators {
        display: inline-block;
    }

        .slider ul.home-slide-indicators.indicators .indicator-item {
            display: inline-block;
        }
}
