/* news_resources styles */

/* Blog */
.content .post {
    border-bottom: 1px solid #c8c8c8;
    padding: 0 0 41px;
    margin: 0 0 41px;
    margin-right: 6.6em;
}

    .content .post .post-head a h2 {
        color: #363636;
        display: inline-block;
        margin-bottom: 26px;
        font-size: 32px;
        line-height: 1.2;
    }

    .content .post .post-head a {
        color: #363636 !important;
    }

        .content .post .post-head a:hover h2 {
            color: #7abaf3 !important;
        }

.info p {
    margin-bottom: 28px;
}

.info p, .info a {
    font-size: 13px;
    text-decoration: none;
    color: #363636;
}

.info a {
    padding: 0 12px 0 0;
    margin: 0 0 0 10px;
    font-weight: 300;
}

    .info a:first-child {
        margin: 0;
    }

.entry p {
    color: #363636;
    line-height: 1.65;
}

.content .post .post-head a:hover h2 {
    color: #3c86b4;
}

.info a:hover {
    color: #7abaf3;
}

.content .post .button {
    max-width: 150px;
    margin: 0;
}

.content .post .more-links a.read-more {
    text-transform: uppercase;
    font-family: Josefin;
    font-size: 15px;
    padding: 15px 17px;
    background: #00544a;
    color: #a5e3dc;
    display: inline-block;
}

    .content .post .more-links a.read-more i {
        font-size: 15px;
        margin-left: 4px;
    }

    .content .post .more-links a.read-more:hover {
        background-color: #3c86b4;
    }

.content .post .more-links a.share {
    float: right;
    text-transform: uppercase;
}

    .content .post .more-links a.share i {
        font-size: 16px;
        margin-right: 4px;
    }

.content .post:last-child {
    margin-bottom: 33px;
}

.blog-top-block .banner-content-block {
    top: 62%;
    padding: 0 9em 0 0;
}
